<!-- Modal -->
<div class="modal fade" id="table_{{table[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{table[0]}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for item in table[1] %}
                        <th scope="col">{{item}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for items in table[2] %}
                    <tr>
                        {% for item in items %}
                        <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>