<div class="container">
    
    <div class="card" style="width: 18rem;">
        <img src="http://127.0.0.1:8000/static/events/tech.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tech Event</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Register</a>
          <a href="#" class="btn btn-primary">Volunteer Register</a>
        </div>
    </div>
</div>